@media screen and (max-width:977px) {
    .navigator {
        :nth-child(n) {
            font-size: .5rem;
        }
        
        .navgator-left {
            padding-left: .5rem;
            
            :nth-child(n) {
                font-size: .75rem;
            }
            
            :last-child {
                padding-left: 0.1rem;
            }
        }
        
        .navgator-default {
            gap: 0;
            padding-right: 0;
            
            :nth-child(n) {
                padding: .5rem .25rem;
            }
            
            :hover {
            
                ::before {
                    width: calc(100% - 1rem);
                }
            }
        }
        
        .navgator-right {
            padding-right: .5rem;
        }
    }
}

@media screen and (max-width:750px) {
    .navigator {
        .navgator-default {
            display: none;
        }
    }
}
